.backimg{
    background-image: url('/backgroundimg/background\ 2.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position-x: center;
}

span.TD-hero{
    position: relative;
}
span.TD-hero::after{
    opacity: 0.3;
    content: "";
    position: absolute;
    width: 100%;
    background-color: #000000;
    border-radius: 2px;
    height: 1px;
    bottom: -8px;
    left: 0;
}
span.techspan{
    color:  var(--primary-color)!important;
    font-weight: bold;
}
.FontHero h1{
    position: relative;
    font-weight: bold;
    font-size: 2em;
}
.FontHero h1::after{
    content: "";
    position: absolute;
    width: 25%;
    background-color: var(--primary-color);
    border-radius: 2px;
    height: 4px;
    bottom: 2px;
    left: 0;
    
}
 p.herop{
    font-size: 12px;
    opacity: 0.5;
} 


.burger-menu{
    font-size: 1.5em;
}

